
.checkout-main-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.shipping-card {
    border: 1px solid #f0f0f0;
    position: sticky;
    top: 20px;
}

.cart-header {
    display: grid;
    grid-template-columns: 1fr 160px 100px;
    padding: 0 25px 12px;
    color: #555;

    font-family: 'Inria Serif', serif !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    line-height: 1.2;
}

.cart-header span:nth-child(2) {
    text-align: center;
}

.cart-header span:nth-child(3) {
    text-align: right;
}
.cart-header span {
    font-family: 'Inria Serif', serif !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    line-height: 1.2;
}

.shipping-details {
    padding-bottom: 10px;
}

.btn-buy {
    margin-top: 25px;
    width: 100%;
    padding: 12px;
    border-radius: 30px;
    background: #000;
    color: #fff;
    cursor: pointer;
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
}

.btn-buy:hover {
    background-color: #333 !important;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

@media (min-width: 992px) {
    .cart-container {
        grid-template-columns: 1.8fr 1.2fr;
    }
}

.brand-logo, h2, h3, h4 {
    font-family: 'Inria Serif', serif !important;
}